* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;

    /* To center the images */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* To create the parallex effect */
    background-attachment: fixed;
    /* To remove the effect */
    /* background-attachment: scroll; */
}

.pimg1 {
    background-image: url(../images/image1.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(../images/image2.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(../images/image3.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;

    /* We want to position it in the middle vertically */
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    
    /* Horizontal spacing between each letter of the word */
    letter-spacing: 8px;
    text-transform: uppercase; 
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

@media (max-width: 568px){
    .pimg1,
    .pimg2,
    .pimg3{
        background-attachment: scroll;
    }
}